
.footerBod{
    
    display: flex;
    flex-direction: row;
    background-image:url("../Images/FooterBG.gif") ;
    height: 250px;
    width: 100vw;
    text-align: center;
    justify-content: center;

}


